<h1>Create a Packing List</h1>

<%= form_with model: @packing_list, local: true do |form| %>

  <% if @packing_list.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@packing_list.errors.count, "error") %>
        prohibited this packing list from being saved:
      </h2>

      <ul>
        <% @packing_list.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :destination %>
  <%= form.text_field :destination %>

  <%= form.label :trip_date %>
  <%= form.date_field :trip_date%>

  <%= form.submit "Create Packing List" %>
<% end %>
