<h2>Add Items to <%= @packing_list.name %></h2>

<h3>Create a New Item</h3>

<%= form_with url: packing_list_packing_list_items_path(@packing_list), local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :category %>
  <%= f.select :category,
    options_for_select(Item::CATEGORIES, params[:category]),
    include_blank: "All" %>

  <h3>Select Items</h3>

  <% Item::CATEGORIES.each do |category| %>
    <% items_in_category = @items.by_category(category) %>
    <% if items_in_category.any? %>
      <h4><%= category.titleize %></h4>
      <% items_in_category.each do |item| %>
        <div>
          <%= check_box_tag "item_ids[]", item.id %>
          <%= label_tag "item_ids_#{item.id}", item.name.titleize %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <br />

  <%= f.submit "Add Selected Items" %>
<% end %>
